    name: Build and Release Flutter APK

    on:
      push:
        branches:
          - master # or main

    jobs:
      build:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v3
          - uses: subosito/flutter-action@v2
            with:
              flutter-version: '3.x.x' # Specify your Flutter version
          - run: flutter build apk --release
          - name: Create Release
            id: create_release
            uses: actions/create-release@v1
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
              tag_name: v${{ github.run_number }} # Example tag
              release_name: Release v${{ github.run_number }}
              body: |
                Automated release of the Flutter APK.
                Changes from commit ${{ github.sha }}.
              draft: false
              prerelease: false
          - name: Upload Release Asset
            uses: actions/upload-release-asset@v1
            env:
              GITHUB_TOKEN: ${{ secrets.TOKEN_JANTECHAI }}
            with:
              upload_url: ${{ steps.create_release.outputs.upload_url }}
              asset_path: build/app/outputs/flutter-apk/app-release.apk
              asset_name: app-release.apk
              asset_content_type: application/vnd.android.package-archive
